singularity {
    enabled = true
    runOptions = '-e'
}

process {
  beforeScript = 'ml singularity'
  executor = 'lsf'
  clusterOptions = '-L /bin/bash -P acc_HIMC -M 160000 -R rusage[mem=130000] -n 3 -R span[hosts=1]'
  queue = 'premium'
  time = '144h'
  withName: run_segmentation {
    container = '/sc/arion/projects/HIMC/singularity_images/himc_rpy2_singlecell_4.1.sif'
 }
}
